* {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-scarlet: #d00000;
  --color-cream: #f5f1e7;
  --color-gray: #c7c8ca;
}

body {
  background-color: var(--color-gray);
  width: 100%;
}

main {
  position: relative;
  top: 150px;
}
