/* here is the stuf at the top that has to be there */

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

/* here is stuff about the header  */
header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 10px;
  border: solid 2px #d00000;
  background-color: #f5f1e7;
}
h1 {
  font-size: 37px;
  color: #d00000;
}

/* here is stuff about the body  */

body {
  background-color: #c7c8ca;
}


.quiz-question-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border: solid 2px #d00000;
  border-radius: 10px;
  background-color: #f5f1e7;
  margin: 20px;
  padding: 20px;
}

.quiz-question {
  color: #d00000;
  text-align: center;
}

.answer-button {
  display: flex;
  border: solid 1px #c7c8ca;
  background-color: #d00000;
  border-radius: 5px;
  color: #f5f1e7;
  margin-bottom: 5px;
}
