.quizapp__card--button {
  display: flex;
  align-self: center;
  border: solid 1.5px var(--color-gray);
  background-color: var(--color-scarlet);
  border-radius: 5px;
  color: var(--color-cream);
  margin-bottom: 0.3rem;
  width: 100px;
  padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}
