.quizapp__card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: solid 2px var(--color-scarlet);
  border-radius: 10px;
  background-color: var(--color-cream);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1.5rem;
  padding: 1rem 0.8rem 0.5rem 0.8rem;
}

.quizapp__card--bookmark {
  background-color: transparent;
  border: 0;
  padding: 0;
  position: absolute;
  top: -10px;
  right: 15px;
  cursor: pointer;
}

.quizapp__card--text {
  color: var(--color-scarlet);
  text-align: center;
  padding-bottom: 1rem;
  font-size: 2rem;
}

.quizapp__card--answer--hidden {
  display: none;
}

.quizapp__card--answer {
  color: var(--color-scarlet);
  text-align: center;
}
]


.quizapp__card--categories {
  color: var(--color-gray);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 20px;
  list-style-type: "#";
  font-size: 1rem;
}

/* link behavior */
a {
  outline: none;
}
a:link {
  color: var(--color-gray);
}
a:visited {
  color: var(--color-cream);
}
a:focus {
  text-decoration: none;
  background: var(--color-scarlet);
}
a:hover {
  text-decoration: none;
  background: var(--color-scarlet);
}
a:active {
  color: var(--color-scarlet);
}
/* link behavior */
