.quizapp__footer {
  display: flex;
  justify-content: justify;
  flex-wrap: wrap;
  border-radius: 10px;
  border: solid 2px var(--color-scarlet);
  background-color: var(--color-cream);
  position: fixed;
  width: 97%;
  text-align: center;
  z-index: 1;
  bottom: 0;
  margin-bottom: 20px;
  padding: 1rem;
}

.quizapp__footer--image {
  height: 50px;
}
