.quizapp__footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 3rem; */
  border-radius: 10px;
  border: solid 2px var(--color-scarlet);
  background-color: var(--color-cream);
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem;
}

.quizapp__footer--image {
  height: 3rem;
}

.quizapp__footer--tile {
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
}

.quizapp__footer--copyright {
  font-size: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0;
}
