header {
  border-radius: 10px;
  border: solid 2px var(--color-scarlet);
  background-color: var(--color-cream);
  position: fixed;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  margin: 1rem;
}
h1 {
  font-size: 37px;
  color: var(--color-scarlet);
  text-align: center;
}
